.navbar-background {
  background-color: black;
  color: white;
}
.nav-item-color {
  color: white;
  text-transform:uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
  background: transparent;

}
.nav-item-color:hover{
  color: white;
  font-weight: bold;
}
.navbar-toggler{
  border: 0;
  color: white;
}